* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  overflow-x: hidden;
  word-break: keep-all;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #222;
}

/*header*/
.header_in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 50px;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 99;
  border-bottom: 1px solid #ddd;
}
header img {
  display: block;
  width: 150px;
}
header .pc {
  display: flex;
}
header .pc li {
  margin: 0px 35px;
  font-weight: bold;
}
header .mobile {
  width: 35px;
  height: 25px;
  position: relative;
  display: none;
}
header .mobile span {
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  position: absolute;
  left: 0;
  transition: 0.2s;
}
header .mobile span:nth-child(1) {
  top: 0;
}
header .mobile span:nth-child(2) {
  top: 50%;
}
header .mobile span:nth-child(3) {
  top: 100%;
}

/* 메뉴바 클래스 리스트 */
.mobile.on span:nth-child(1) {
  top: 50%;
  transform: rotate(135deg);
}
.mobile.on span:nth-child(2) {
  transform: translateX(-10%);
  opacity: 0;
}
.mobile.on span:nth-child(3) {
  top: 50%;
  transform: rotate(-135deg);
}

/* menu */
.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  z-index: 98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6%;
  opacity: 0;
  left: 100%;
  transition: 0.5s;
}
.menu a {
  font-size: 50px;
  font-weight: bold;
}
.menu a:hover {
  color: #4a679e;
}
.menu.on {
  opacity: 1;
  left: 0;
}

/*visual*/
#visual {
  height: calc(100vh - 81px);
  background: url(../img/main_visual_bg.jpg) repeat 0 0 /50px;
  /*0은 포지션을 의미*/
  position: relative;
  top: 81px;
  overflow: hidden;
}
.visual_img {
  width: 980px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  display: inline-block;
}
.pc_visual_img {
  display: block;
  width: 100%;
  animation: visual_move 1s forwards;
}
.mo_visual_img {
  width: 100%;
  animation: visual_move 1s forwards;
  display: none;
}

@keyframes visual_move {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.sns {
  position: fixed;
  top: 150px;
  right: 2%;
  z-index: 90;
}
.sns img {
  display: block;
  width: 50px;
  margin: 10px 0px;
}

.scroll {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 12px;
}
.span_bg {
  width: 30px;
  height: 45px;
  border: 2px solid #222;
  border-radius: 30px;
  background: #fff;
  box-sizing: border-box;
  margin: 30px auto;
  animation: visual_move2 2s infinite linear;
}
@keyframes visual_move2 {
  0% {
  }
  50% {
    transform: translateY(50%);
  }
}
.span_bg span {
  display: inline-block;
  border: 3px solid #222;
  border-radius: 100%;
  animation: visual_move3 2s infinite linear 4s;
}
@keyframes visual_move3 {
  0% {
    opacity: 0;
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(15px);
    opacity: 1;
  }
}

/*container*/
#container h2 {
  font-size: 50px;
  text-align: center;
}

/* con1 */
.con1 {
  margin: 200px auto 100px;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.con1_btn {
  width: 230px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  border: 1px solid #222;
  border-radius: 30px;
}
.con1_btn a::after {
  content: url(../img/ico_more1.png);
  margin-left: 10px;
}
.con1_btn:hover a {
  background: #222;
  color: #fff;
  border-radius: 30px;
}
.con1_btn:hover a::after {
  content: url(../img/ico_more2.png);
}
.con1_btn a {
  display: block;
  width: 100%;
  height: 100%;
}

.con1 ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.con1 li {
  width: 24%;
  border: 1px solid #ccc;
  border-radius: 20px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.con1 li:nth-of-type(1) .con1_bg {
  background: url(../img/new_main_crt1.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(2) .con1_bg {
  background: url(../img/new_main_crt2.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(3) .con1_bg {
  background: url(../img/new_main_crt3.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(4) .con1_bg {
  background: url(../img/new_main_crt4.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(5) .con1_bg {
  background: url(../img/new_main_crt5.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(6) .con1_bg {
  background: url(../img/new_main_crt6.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(7) .con1_bg {
  background: url(../img/new_main_crt7.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(8) .con1_bg {
  background: url(../img/new_main_crt8.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(9) .con1_bg {
  background: url(../img/new_main_crt9.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(10) .con1_bg {
  background: url(../img/new_main_crt10.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(11) .con1_bg {
  background: url(../img/new_main_crt11.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(12) .con1_bg {
  background: url(../img/new_main_crt12.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(13) .con1_bg {
  background: url(../img/new_main_crt13.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(14) .con1_bg {
  background: url(../img/new_main_crt14.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(15) .con1_bg {
  background: url(../img/new_main_crt15.png) no-repeat 0 0 / 100%;
}
.con1 li:nth-of-type(16) .con1_bg {
  background: url(../img/new_main_crt16.png) no-repeat 0 0 / 100%;
}

.con1 li img {
  width: 100%;
  opacity: 0;
  display: block;
  transition: 0.15s;
}
.con1 h3 {
  font-size: 23px;
  margin: 20px 0px 10px;
}
.con1 p {
  font-size: 13px;
  color: #ccc;
  font-weight: bold;
}
.con1 li:hover img {
  opacity: 1;
}

/* con2 */
.con2 {
  background-color: #eee;
  padding: 80px 50px;
}
.con2 ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 50px auto 0px;
  text-align: center;
}
.con2 li {
  width: 33.333%;
}
.con2 li:first-child {
  border-right: 1px solid #ddd;
}
.con2 li:last-child {
  border-left: 1px solid #ddd;
}
.con2 h3 {
  margin: 30px 0px;
  font-size: 25px;
}
.con2 p {
  font-size: 18px;
  line-height: 30px;
}
.con2_btn {
  border: 1px solid #222;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 30px auto 0px;
  border-radius: 30px;
}
.con2_btn a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.con2_btn:hover a {
  color: #fff;
  background: #222;
}

/* con3 */
.con3 {
  background: url(../img/bg_recruit.png) no-repeat center 70px;
  padding: 80px 0px;
}
.con3 ul {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 40px auto 0px;
  text-align: center;
}
.con3 li {
  width: 28%;
}
.con3 h3 {
  margin: 30px;
  font-size: 25px;
}
.con3 p {
  font-size: 18px;
  line-height: 30px;
}
.con3_btn {
  border: 1px solid #222;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin: 30px auto 0px;
  border-radius: 30px;
}
.con3_btn:hover a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  color: #fff;
  background: #222;
}

/* con4 */
.con4 {
  background: url(../img/bg_shop.jpg) no-repeat center;
  padding-top: 80px;
  height: 500px;
}
.con4_btn {
  width: 230px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  border: 1px solid #222;
  border-radius: 30px;
  text-align: center;
}
.con4_btn a::after {
  content: url(../img/ico_more1.png);
  margin-left: 10px;
}
.con4_btn:hover a {
  background: #222;
  color: #fff;
  border-radius: 30px;
}
.con4_btn:hover a::after {
  content: url(../img/ico_more2.png);
}
.con4_btn a {
  display: block;
  width: 100%;
  height: 100%;
}

/* con5 */
.con5 {
  background-color: #4a679e;
  text-align: center;
  padding: 100px 0px;
}
.con5 h2 {
  color: #fff;
  margin-top: 20px;
}
.con5_btn {
  width: 230px;
  height: 50px;
  line-height: 50px;
  margin: 50px auto;
  border: 1px solid #fff;
  border-radius: 30px;
  text-align: center;
}
.con5_btn a::after {
  content: url(../img/ico_more2.png);
  margin-left: 10px;
}
.con5_btn:hover a {
  background: #fff;
  color: #222;
  border-radius: 30px;
}
.con5_btn:hover a::after {
  content: url(../img/ico_more1.png);
}
.con5_btn a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}
.con5 ul {
  display: flex;
  background: #fff;
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  border-radius: 30px;
}
.con5 li {
  width: 50%;
  position: relative;
}
iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 30px 0 0 30px;
}
.pin {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -90%);
}
.con5 li:last-child {
  text-align: left;
  padding: 50px 50px 100px;
}
.con5 h3 {
  font-size: 25px;
}
.gray {
  color: #ccc;
  margin: 20px 0px;
  line-height: 30px;
}
.black {
  font-weight: bold;
  line-height: 30px;
}
i {
  color: #4a679e;
}
.kitty {
  position: absolute;
  right: 30px;
  bottom: -50px;
  width: 180px;
}

/* footer */
footer {
  color: #aaa;
  background: #222;
  padding: 50px;
}
footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_btn {
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
}
.footer_btn a {
  color: #fff;
}
.top_btn {
  background: #4a679e;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  transition: 0.5s;
}
.top_btn.on {
  opacity: 1;
}
.top_btn a {
  color: #fff;
}

/* 반응형 미디어 쿼리 */
@media all and (max-width: 1100px) {
  /* 헤더 */
  .header_in {
    padding: 20px;
  }
  header .pc {
    display: none;
  }
  header .mobile {
    display: block;
  }

  /* 비쥬얼 */
  .visual_img {
    width: 85%;
  }
  .pc_visual_img {
    display: none;
  }
  .mo_visual_img {
    display: block;
  }
  .sns {
    right: 10px;
    top: 90px;
  }
  .sns img {
    width: 35px;
    margin: 5px 0;
  }

  /* 컨테이너 1번 */
  .con1 li {
    padding-bottom: 0;
  }
  .con1 h3 {
    font-size: 18px;
    margin: 20px 0;
  }
  .con1 p {
    display: none;
  }

  /* 컨테이너 3번 */
  .con3 {
    background: url(../img/tbg_recruit.png) no-repeat center 50px;
  }

  /* 컨테이너 5번 */
  .con5 ul {
    display: block;
  }
  .con5 li {
    width: 100%;
  }
  iframe {
    border-radius: 30px 30px 0 0;
    height: 300px;
  }
  .con5 li:last-child {
    padding: 45px;
  }
}
@media all and (max-width: 800px) {
  /* 헤더 */
  .menu {
    justify-content: flex-start;
    gap: 3.5%;
    padding-top: 110px;
  }
  .menu a {
    font-size: 1.5rem;
  }

  /* 컨테이너 1번 */
  .con1 li {
    width: 49%;
  }

  /* 컨테이너 2번 */
  .con2 ul {
    display: block;
  }
  .con2 li {
    width: 100%;
  }
  .con2 li:first-child {
    border-right: none;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
  }
  .con2 li:last-child {
    border-left: none;
    border-top: 1px solid #ddd;
    padding-top: 30px;
    margin-top: 30px;
  }
  .con2 p {
    display: none;
  }

  /* 컨테이너 3번 */
  .con3 {
    background: url(../img/mbg_recruit.png) no-repeat;
    background-position: center 70px;
    background-size: 95%;
  }
  .con3 ul {
    display: block;
    width: 80%;
  }
  .con3 li {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 5%; */
  }
  .con3 li > div {
    width: 50%;
  }
  .con3 li img {
    width: 100%;
  }
  .con3 li:not(:last-child) {
    margin-bottom: 50px;
  }
  .con3 li p {
    display: none;
  }

  /* 푸터 */
  footer ul {
    justify-content: center;
    flex-direction: column-reverse;
  }
  .footer_btn {
    margin-bottom: 20px;
  }
  .top_btn {
    right: 10px;
    bottom: 10px;
  }
}

@media all and (max-width: 650px) {
  /* 헤더 */
  header .mobile {
    width: 25px;
    height: 15px;
  }
  header .mobile span {
    height: 3px;
  }

  /* 컨테이너 */
  #container h2 {
    font-size: 2rem;
  }

  /* 컨테이너 1번 */
  .con1 {
    margin: 10rem auto 4rem;
  }
  .con1_btn {
    width: 11rem;
    height: 2.8rem;
    font-size: 0.8rem;
    margin: 1.8rem auto;
  }
  .con1_btn a {
    line-height: 2.8rem;
  }
  .con1 h3 {
    font-size: 0.9rem;
  }

  /* 컨테이너 2번 */
  .con2 {
    padding: 4rem 5%;
  }
  .con2 ul {
    display: flex;
    flex-wrap: wrap;
  }
  .con2 li {
    width: 50%;
  }
  .con2 li img {
    width: 35%;
  }
  .con2 li:first-child {
    border-right: 1px solid #ddd;
    margin-bottom: 0;
    padding-bottom: 5%;
  }
  .con2 li:nth-child(2) {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5%;
    margin-top: -4%;
  }
  .con2 li:last-child {
    border-top: none;
    margin-top: 0;
    padding-top: 5%;
  }
  .con2 h3 {
    font-size: 1.1rem;
    margin: 1rem 0;
  }
  .con2_btn {
    width: 4.5rem;
    height: 1.7rem;
    font-size: 0.8rem;
    margin: 1rem auto 0;
  }
  .con2_btn a {
    line-height: 1.7rem;
  }

  /* 컨테이너 3번 */
  .con3 {
    padding: 4rem 0;
  }
  .con3 li:not(:last-child) {
    margin-bottom: 4rem;
  }
  .con3 h3 {
    font-size: 1.1rem;
    margin: 1rem;
  }
  .con3_btn {
    width: 5rem;
    height: 2rem;
    font-size: 0.8rem;
    line-height: 2rem;
    margin: 1rem auto 0;
  }

  /* 컨테이너 4번 */
  .con4 {
    background: url(../img/mbg_shop.jpg) no-repeat center / cover;
    height: 300px;
  }
  .con4_btn {
    width: 11rem;
    height: 2.3rem;
    line-height: 2.3rem;
    font-size: 0.8rem;
    margin: 1rem auto;
  }

  /* con5 */
  .con5 {
    padding: 4rem 0;
  }
  .con5 h2 {
    margin-top: 1rem;
  }
  .con5_btn {
    width: 11rem;
    height: 2.3rem;
    line-height: 2.3rem;
    font-size: 0.8rem;
    margin: 2rem auto;
  }
  iframe {
    height: 180px;
  }
  .con5 li:last-child {
    padding: 1.5rem;
  }
  .con5 h3 {
    font-size: 1.1rem;
  }
  .gray {
    font-size: 0.7rem;
    margin: 0.5rem 0;
    line-height: 1rem;
  }
  .black {
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .kitty {
    width: 80px;
    right: 5px;
    bottom: -30px;
  }
}
